bleach==1.5.0
flask==1.0.2
flask_restful==0.3.6
h5py==2.8.0
Jinja2==2.10
joblib==0.9.4
numpy==1.14.5
opencv-python
protobuf==3.6.1
pydicom
reportlab==3.3.0
requests==2.9.1
scikit-learn
peakutils
scikit-image
imageio
scipy==1.1.0
six==1.11.0
sklearn==0.0
urllib3==1.23
tensorflow-gpu==1.6.0
keras==2.2.0
psutil
nvidia-ml-py3
Werkzeug==0.14.1
